<div class="parent">
  <div class="user-img">
    <img class="user_image" src=<%= 'https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425__340.png' %> >
  </div>
  <div class="user-info">
      <h2 class="user_name"><%= @user.name%></h2>
      <p  class="post_number">Number of posts: <%= @user.post_ids.count %></p>
    </div>
  </div>

<% @posts.each do |post| %>
  <div class="comment-box">
    <div class="user_name">
     <%= link_to "#{post.title}", user_post_path(@user.id, post.id), class:"post-title" %> 
     <h3><%= post.text%></h3>
      <p class="post_number">Number of comments: <%= post.comments.size%> <span>Number of likes: <%= post.likes_counter %></span></p>
    </div>
  </div>
  <div class="sub_comment">
    <% post.recent_five_comments.each do |comment| %>
       <h4><%= comment.author.name%>: <%= comment.text%></h4>
    <%end%>
  </div>
<%end%>
<div class="button-div">
  <button class="button">
    Pagination
  </button>
</div>
