<div class="user-container">
        <div class="user-img">
       <img src=<%= 'https://icon-library.com/images/user-profile-icon/user-profile-icon-23.jpg' %> >
      </div>
      <h2><%= @user.name%></h2>
      <p>Number of posts: <%= @user.post_ids.count %></p>
    </div>
  </div>

<% @posts.each do |post| %>
  <div class="user-container">
    <div class="post-data">
     <%= link_to "#{post.title}", user_post_path(@user.id, post.id), class:"post-title" %> 
     <h3><%= post.text%></h3>
      <p>Number of comments: <%= post.comments.size%> <span>Number of likes: <%= post.likes_counter %></span></p>
    </div>
  </div>
  <div class="commentaire">
    <% post.recent_five_comments.each do |comment| %>
       <h4><%= comment.author.name%>: <%= comment.text%></h4>
    <%end%>
  </div>
<%end%>
<div class="button-div">
  <button class="button">
    Pagination
  </button>
</div>
