<div class="post_info">
<div class="user-posts"> 
  <div class="line1">
  <h2><%= @post.title %> by <span><%= @post.author.name %></span></h2>
  <p class = "post-comment">Comment <%= @post.comments.size%>,  <span>Likes <%= @post.likes_counter%></span></p>
  </div>
 <div>
  <p class="post_value"><%= @post.text %></p>
 </div>
</>
</div>
<div>
<div class="comments">
<% @comments.each do |comment| %>
   <h2><%= comment.author.name%>: <%= comment.text%></h2>
<%end%>
</div>
</div>
