<div class="post_info">
<div class="user-posts"> 
  <div class="line1">
  <h2><%= @post.title %> by <span><%= @post.author.name %></span></h2>
  <p class = "post-comment">Comment <%= @post.comments.size%>,  <span>Likes <%= @post.likes_counter%></span></p>
  </div>
 <div>
  <p class="post_value"><%= @post.text %></p>
 </div>
</>
</div>
<div>
<div class="comments">
<% @comments.each do |comment| %>
   <h2><%= comment.author.name%>: <%= comment.text%></h2>
<%end%>
</div>
</div>

<div class="likes_btn">
<%= form_with url: "users/posts/#{@post.id}/likes", scope: :like do |form| %>
    <%= form.submit "Like ", class: "btn"%>
  <% end %>
</div>

<div class="Add_comments">
<%= form_with url: "users/posts/#{@post.id}/comments", scope: :comment do |form| %>
<div class="comment-area">
	<%= form.text_area :text, placeholder: "Type something here...", rows: 14, required: true %>
	<%= form.submit "Comment", class: "button" %>
  </div>
<% end %>
</div>
